@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@900&display=swap');

body {
    background-color: #a18e1f5b;
}

h1 {
    font-family: 'Rubik', sans-serif;
}

img {
    width: 50%;
}
p{
font-size: 20px;
font-family: 'Rubik', sans-serif;
}





